
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2 {
    margin: 0;
}

header{
    background:#111;
}

.header-container{
    max-width:1200px;
    margin: 0 auto;
}

.header-left h1{
    color:white;
}


.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px 30px;
    
}

.header-right{
    display: flex;
    align-items: center;
    height: 90px;
    background-color: transparent;

}
.header-right a{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

main{
   height: auto;
  background-color: #f5f5f5;
  padding: 0;
}

.schedule{
    text-align: center;
    max-width:900px;
    margin: 0 auto;
    padding: 120px 20px;
    background-color: white;
}

.schedule h2{
    font-size:2rem;
}

.schedule h3{
    font-size:3rem;
}

footer {
  background-color: rgba(117, 109, 108, 0.684);
  padding: 40px 20px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-left {
  padding: 16px;
  text-align: left; /* 中央寄せにしたければ 'center' に変えるだけ */
  flex: 1;
}

.footer-right {
  padding: 16px;
  flex: 0 0 auto;
}
