
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2 {
    margin: 0;
}

a{
     text-decoration: none;
     padding:15px;
}


header{
    background:#111;
    
}

.header-container{
    max-width:1200px;
    margin: 0 auto;
}

.header-left h1{
    color:white;
}


.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px 30px;
    
}

.header-right{
    display: flex;
    align-items: center;
    height: 90px;
    background-color: transparent;

}
.header-right a{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4rem;
}

.header-right a:hover{
  background-color:rgb(64, 58, 58);
}

.schedule{
    background-image:url(https://www.kusanagi-sportscomplex.jp/images/30.jpg);
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    padding:300px 200px;
    font-size:4rem;
    
}

.schedule p{
    font-size:2rem;
}



.schedule h2{
    font-size:2rem;
}

.schedule p{
    font-size:3rem;
    font-family:  'Bebas Neue', sans-serif;
}

.place{
    text-align:center;
    font-size:3rem;

}

footer {
    
  background-color: rgba(117, 109, 108, 0.684);
  padding: 40px 20px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-left {
  padding: 10px;
  text-align: left; /* 中央寄せにしたければ 'center' に変えるだけ */
  flex: 1;
}

.footer-left h3{
    font-size:2.3rem;
}

.footer-right {
  padding: 16px;
  flex: 0 0 auto;
}

.footer-right li{
    list-style:none;
}